# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
# *.obj Awake uses .obj for game object files.

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
awake

# OSX files
.DS_Store

# Demo MUD files
gdb.txt
syslog.txt
log/

# Files you really don't want to share
src/mysql_config.cpp
SQL/mysql_config.cpp
mysql_config.cpp

# Game / runtime files
lib/house/*
lib/storage/*
lib/copyover.dat
lib/veh/*