CONTROL

Usage: ^gCONTROL #^n

The control command is available to riggers with vehicle control rigs, 
remote control decks and of course, a datajack.  With your remote control 
deck, you create a subscription list (^WSee: SUBSCRIBE^n), and from your 
list, you choose a drone or vehicle to control.  Example:

Your subscriber list contains:
 0) a MTC-Nissan Roto-Drone        (At Parking Garage) [ 0/10] Damage
 1) A Harley Scorpion              (At Interstate 5) [ 0/10] Damage
 2) a GM-Nissan Doberman           (At Highway 229) [ 0/10] Damage

To take control of the Doberman, you would type '^ccontrol 2^n' which
would give you a full simsense link of that drone.

To cease controlling a remote vehicle, type '^Wreturn^n'.

^WSee Also: RIG, SUBSCRIBE, UNSUBSCRIBE, VEHICLES^n

