name: C/C++ CI

on:
  push:
    branches: [ "workflow_disabled_since_codeql_covers_it" ]
  pull_request:
    branches: [ "workflow_disabled_since_codeql_covers_it" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    # Update apt cache.
    - name: Update apt cache.
      run: sudo apt update

    # Install dependencies.
    - name: Install Boost filesystem and libcurl4
      run: sudo apt install -y libboost-filesystem-dev libcurl4-openssl-dev 

    # Populate our config file with dummy values.
    - name: Write mysql_config.cpp
      working-directory: ./src
      run: |
        echo 'const char *mysql_host =     "host"; \
          const char *mysql_password = "pass";       \
          const char *mysql_user =     "user";       \
          const char *mysql_db =       "db";       ' \
          > mysql_config.cpp

    # Compile the game.
    - name: make
      working-directory: ./src
      run: make
